@using AppleStore.Models
@{
    ViewBag.Title = "Index";
    CartShop x = ViewData["Cart"] as CartShop;
}
<style>
    tr.cart_menu{
        background-color:orange;
        font-size:20px;
    }
    input.cart_quantity_input{
        width:55px;
    }
    .cart_quantity_button {
        display: flex;
    }
    .cart_quantity_input {
        text-align: center;
        padding: 3px;
        border-radius: 10px;
        border: 1px solid;
    }
    .cart_quantity_up {
        margin-left: 10px;
        border-radius: 30px;
        border: 1px solid chartreuse;
    }
    .cart_quantity_down {
        margin-right: 10px;
        border-radius: 30px;
        border: 1px solid chartreuse;
    }
    
    li {
        display: block;
    }
    hr{
        width:100%;
        background-color:orange;
    }
    .btn-defaut.update {
        background-color: orange;
        margin-left: 80px;
    }
    .btn-defaut.check_out {
        background-color: orange;
        margin-left:10px;
    }
    .blog-area.section-padding{
        padding:100px;
    }
    .cart_total_price {
        font-size: 21px;
        font-weight: bold;
        color: orange;
    }
    .cart_quantity_delete {
        border-radius: 30px;
        border: 1px solid chartreuse;
    }
    

    
   
    
</style>

<section class="hero-wrap hero-wrap-2" style="background-image: url(../Materials/images/ip111.PNG);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center mb-4">
                <h1 class="mb-2 bread">Shopping Cart</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="@Url.Action("index", "Home")">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Shopping Cart <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>



<section  class="blog-area section-padding">
    <div class="container">
        <div class="row">
            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                        <tr class=" cart_menu">
                            <td class="image">Item</td>
                            <td class="description"></td>
                            <td class="price">Price</td>
                            <td class="quantity">Quantity</td>
                            <td class="total">Total</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (CtDonHang i in x.SanPhamDC.Values)
                            {
                                <tr>
                                    <td class="cart_product">
                                        <a href=""><img style="height:120px;width:120px" src="@Common.GetImageOfProductsById(i.maSP)" /></a>
                                    </td>
                                    <td class="cart_description">
                                        <h5><a href="">@Common.GetNameOfProductsById(i.maSP)</a></h5>
                                        <p> ID : @i.maSP</p>
                                    </td>
                                    <td class="cart_price">
                                        <p>@string.Format("{0:###,###,###0 .VNĐ}", i.giaBan)</p>
                                    </td>
                                    <td class="cart_quantity">
                                        <div class="cart_quantity_button">
                                            @using (Html.BeginForm("Increase", "CartShop", FormMethod.Post))
                                            {
                                                <input type="hidden" name="maSP" value="@i.maSP" />
                                                <button class="cart_quantity_up">+</button>
                                            }
                                            <input class="cart_quantity_input" type="text" name="quantity" value="@i.soLuong" autocomplete="off" size="2" />
                                            @using (Html.BeginForm("Decrease", "CartShop", FormMethod.Post))
                                            {
                                                <input type="hidden" name="maSP" value="@i.maSP" />
                                                <button class="cart_quantity_down">-</button>
                                            }
                                        </div>
                                    </td>
                                    <td class="cart_total">
                                        <p class="cart_total_price">
                                            @string.Format("{0:###,###,###0 .VNĐ}", x.moneyOfOneProduct(i))
                                        </p>
                                    </td>
                                    <td class="cart_delete">
                                        @using (Html.BeginForm("RemoveItem", "CartShop", FormMethod.Post))
                                        {
                                            <input type="hidden" name="maSP" value="@i.maSP" />
                                            <button class="cart_quantity_delete">X</button>
                                        }
                                    </td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <hr />
        <div class="row gach">
            <div class="heading">
                <h3>Total value - Tax - Delivery fee - Total amount</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="total_area">
                    <ul>
                        <li style="background-color: lightgray; margin-top: 5px; padding: 0px 0px 0px 22px; font-weight: bold; ">Total value :<span style="right: 30px; position: absolute; font-weight: bold;">@string.Format("{0:###,###,###0 .VNĐ}", x.totalOfCartShop())</span></li>
                        <li style="background-color: lightgray; margin-top: 5px; padding: 0px 0px 0px 22px; font-weight: bold; ">Tax VAT 10% :<span style="right: 30px; position: absolute; font-weight: bold;">@string.Format("{0:###,###,###0 .VNĐ}", ((x.totalOfCartShop() * 10) / 100))</span></li>
                        <li style="background-color: lightgray; margin-top: 5px; padding: 0px 0px 0px 22px; font-weight: bold; ">Delivery fee : <span style="right: 30px; position: absolute; font-weight: bold;">Free</span></li>
                        <li style="background-color: lightgray; margin-top: 5px; padding: 0px 0px 0px 22px; font-weight: bold; ">Total amount :<span style="right: 30px; position: absolute; font-weight: bold;">@string.Format("{0:###,###,###0 .VNĐ}", (x.totalOfCartShop() + (x.totalOfCartShop() * 10) / 100))</span></li>
                    </ul>
                    <a class="btn btn-defaut update" href="#"> Cart Update</a>
                    <a class="btn btn-defaut check_out" href="@Url.Action("Index", "CheckOut")">Payment &gt; &gt; </a>

                </div>
            </div>
        </div>
    </div>
</section>

    