@using AppleStore.Models

@model AppleStore.Models.LoaiSP

@{
    ViewBag.Title = "Index";
    List<LoaiSP> List = ViewData["Dsloai"] as List<LoaiSP>;
}
<style>
    form{
        display:inline;
    }
</style>

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Chủng Loại </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Loại Hàng</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title">Chủng Loại Hàng Hoá _ Ngành Hàng</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collaspse" data-toggle="tooltip" title="Collaspse">
                                    <i class="fas-fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="col-sm-12">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>

                                            <th>Mã Loại</th>
                                            <th>Tên Loại Hàng</th>
                                            <th>Số Sản Phẩm</th>
                                            <th>Nhóm Lệnh</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (LoaiSP i in List)
                                        {
                                            <tr>
                                                <td>@i.maLoai</td>
                                                <td>@i.tenLoai</td>
                                                <td>@i.SanPhams.Where(x => x.maLoai == i.maLoai).Count() Sản Phẩm</td>
                                                <td style="display: inline-flex">
                                                    @using (Html.BeginForm("Delete", "CategoryOfProducts", FormMethod.Post))
                                                    {
                                                        <input type="hidden" name="ml" value="@i.maLoai" />
                                                        <button class="btn btn-danger">Xoá</button>
                                                    }

                                                    @using (Html.BeginForm("Update", "CategoryOfProducts", FormMethod.Post))
                                                    {
                                                        <input type="hidden" name="mlcs" value="@i.maLoai" />
                                                        <button class="btn btn-primary">Sửa</button>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-6">

                    <!-- general form elements disabled -->
                    @using (Html.BeginForm("Index", "CategoryOfProducts", FormMethod.Post))
                    {
                        <div class="card card-success ">
                            <div class="card-header">
                                <h3 class="card-title">Thông tin chính</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collaspse" data-toggle="tooltip" title="Collaspse">
                                        <i class="fas-fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->

                            <div class="card-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Tên nhóm sản phẩm</label>
                                    @Html.TextBoxFor(m => m.tenLoai, new { @class = "form-control", @placeholder = "Name of category ..." })
                                </div>
                                <div class="form-group">
                                    <label style="padding-top: 18px">Diễn giải cho loại hàng</label>
                                    @Html.TextAreaFor(m => m.ghiChu, new {@class = "form-control", @rows="11", @placeholder= "Enter description of the category..." }) 
                                </div>
                                <button type="submit" class="btn btn-success">Lưu thông tin</button>

                            </div>
                            <!-- /.card-body -->
                        </div>
                        @Html.HiddenFor(x => x.maLoai)
                    }
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
</div>



