@using AppleStore.Models
@{
    ViewBag.Title = "Home Page";
}


<section class="home-slider owl-carousel js-fullheight">
    <div class="slider-item js-fullheight" style="background-image: url(../Materials/images/ip1.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text js-fullheight justify-content-center align-items-center" data-scrollax-parent="true">

                <div class="col-md-12 col-sm-12 text-center ftco-animate">
                    <span class="subheading">Apple</span>
                    <h1 class="mb-4"> Good things come in 3. </h1>
                </div>

            </div>
        </div>
    </div>

    <div class="slider-item js-fullheight" style="background-image: url(../Materials/images/ip2.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text js-fullheight justify-content-center align-items-center" data-scrollax-parent="true">

                <div class="col-md-12 col-sm-12 text-center ftco-animate">
                    <span class="subheading">Apple</span>
                    <h1 class="mb-4">Mega power.</h1>
                </div>

            </div>
        </div>
    </div>

    <div class="slider-item js-fullheight" style="background-image: url(../Materials/images/ip22.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                <div class="col-md-12 col-sm-12 text-center ftco-animate">
                    <span class="subheading">Apple</span>
                    <h1 class="mb-4">Oh. So. Pro.</h1>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="featured">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="featured-menus ftco-animate">
                                <div class="menu-img img" style="background-image: url(../Materials/images/ip133.jpg);"></div>
                                <div class="text text-center">
                                    <h3>iPhone  </h3>
                                    <p><span>Multiply the magic.</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="featured-menus ftco-animate">
                                <div class="menu-img img" style="background-image: url(../Materials/images/ipad2.jpg);"></div>
                                <div class="text text-center">
                                    <h3>iPad</h3>
                                    <p><span>Explore all new features </span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="featured-menus ftco-animate">
                                <div class="menu-img img" style="background-image: url(../Materials/images/mac1.jpg);"></div>
                                <div class="text text-center">
                                    <h3>Mac</h3>
                                    <p><span>Get more out of Mac</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="featured-menus ftco-animate">
                                <div class="menu-img img" style="background-image: url(../Materials/images/ws4.jpg);"></div>
                                <div class="text text-center">
                                    <h3>Apple Watch</h3>
                                    <p><span>Breakthrough health innovations.</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section ftco-wrap-about">
    <div class="container">
        <div class="row">
            <div class="col-md-7 d-flex">
                <div class="img img-1 mr-md-2" style="background-image: url(../Materials/images/store1.jpg);"></div>
                <div class="img img-2 ml-md-2" style="background-image: url(../Materials/images/store2.jpg);"></div>
            </div>
            <div class="col-md-5 wrap-about pt-5 pt-md-5 pb-md-3 ftco-animate">
                <div class="heading-section mb-4 my-5 my-md-0">
                    <span class="subheading">About</span>
                    <h2 class="mb-4">Apple</h2>
                </div>
                <p>Apple Inc. is an American technology corporation founded on April 1, 1976 by Steve Jobs, Steve Wozniak, and Ronald Wayne under the name Apple Computer, Inc. Apple is headquartered in Silicon Valley in San Francisco, California.</p>
                <pc class="time">
                    <span>Mon - Fri <strong>8 AM - 11 PM</strong></span>
                    <span><a href="#">+ 1-978-123-4567</a></span>
                </pc>
            </div>
        </div>
    </div>
</section>



<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-12 text-center heading-section ftco-animate">
                <span class="subheading">Device</span>
                <h2 class="mb-4">electronic device</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 d-flex align-self-stretch ftco-animate text-center">
                <div class="media block-6 services d-block">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span><img src="~/Materials/images/icon1.png" /></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">iPhone</h3>
                        <p>A smartphone that summarizes inside it are useful features that develop in stages, promising to bring a good experience to users.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate text-center">
                <div class="media block-6 services d-block">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span><img src="~/Materials/images/icon2.png" /></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Mac</h3>
                        <p>A Macbook will bring users new things and special features inside, promising the great things a computer gives us.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate text-center">
                <div class="media block-6 services d-block">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span><img src="~/Materials/images/icon3.png" /></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Watch</h3>
                        <p>A watch not only used to alarm, tell time, but also manage health, listen to incoming calls, make music player,</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate text-center">
                <div class="media block-6 services d-block">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span><img src="~/Materials/images/icon4.png" /></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">iPad</h3>
                        <p>iPad is a combination of a tablet computer and a smartphone, bringing great features and experiences to users.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate text-center">
                <div class="media block-6 services d-block">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span><img src="~/Materials/images/icon5.png" /></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">AirPods</h3>
                        <p>Apple has given users a wireless version of the headset, which is both convenient and uncomplicated to use, but the sound from the headset is very bold and great.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate text-center">
                <div class="media block-6 services d-block">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span><img src="~/Materials/images/icon6.png" /></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">TV</h3>
                        <p>the Tivi of apple with sharp images that the ti screen is very thin and curved gives users very realistic images that make the user participate in the movie</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-12 text-center heading-section ftco-animate">
                <span class="subheading">Leader</span>
                <h2 class="mb-4">The leaders of apple</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img" style="background-image: url(../Materials/images/timcook1.PNG);"></div>
                    <div class="text pt-4">
                        <h3> Tim Cook</h3>
                        <span class="position mb-2">CEO of Apple Inc.</span>
                        <div class="faded">
                            <ul class="ftco-social d-flex">
                                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img" style="background-image: url(../Materials/images/Williams.PNG);"></div>
                    <div class="text pt-4">
                        <h3>Jeff Williams</h3>
                        <span class="position mb-2">Chief Operating Officer</span>
                        <div class="faded">
                            <ul class="ftco-social d-flex">
                                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img" style="background-image: url(../Materials/images/GregJoswiak.PNG); "></div>
                    <div class="text pt-4">
                        <h3>Greg “Joz” Joswiak</h3>
                        <span class="position mb-2">
                            Senior Vice President,
                            Worldwide Marketing
                        </span>
                        <div class="faded">
                            <ul class="ftco-social d-flex">
                                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img" style="background-image: url(../Materials/images/Susan.PNG);"></div>
                    <div class="text pt-4">
                        <h3>Susan Prescott</h3>
                        <span class="position mb-2">Management to Vice President of Worldwide Developer Relations. </span>
                        <div class="faded">
                            <ul class="ftco-social d-flex">
                                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section img" style="background-image: url(../Materials/images/4545.jpg)" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-7 ftco-animate makereservation p-4 px-md-5 pb-md-5">
                <div class="heading-section ftco-animate mb-5 text-center">
                    <span class="subheading">Order</span>
                    <h2 class="mb-4">Order products</h2>
                </div>
                <form action="#">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Name</label>
                                <input type="text" class="form-control" placeholder="Your Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Email</label>
                                <input type="text" class="form-control" placeholder="Your Email">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Phone</label>
                                <input type="text" class="form-control" placeholder="Phone">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Phone</label>
                                <input type="text" class="form-control" id="book_date" placeholder="Date">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Time</label>
                                <input type="text" class="form-control" id="book_time" placeholder="Time">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Person</label>
                                <div class="select-wrap one-third">
                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                    <select name="" id="" class="form-control">
                                        <option value="">Person</option>
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                        <option value="">4+</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mt-3">
                            <div class="form-group text-center">
                                <input type="submit" value="Order Now" class="btn btn-primary py-3 px-5">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section testimony-section img">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-12 text-center heading-section ftco-animate">
                <span class="subheading">Testimony</span>
                <h2 class="mb-4">Happy Customer</h2>
            </div>
        </div>
        <div class="row ftco-animate justify-content-center">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    <div class="item">
                        <div class="testimony-wrap text-center pb-5">
                            <div class="user-img mb-4" style="background-image: url(../Materials/images/person_1.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="mb-4">Modern technology and features that Apple brings are very interesting and give users a perfect experience</p>
                                <p class="name">Jason McClean</p>
                                <span class="position">Customer</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap text-center pb-5">
                            <div class="user-img mb-4" style="background-image: url(../Materials/images/person_2.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="mb-4">It's great that Apple has brought users useful technologies that are beyond the reach of a phone, a regular watch, Very good</p>
                                <p class="name">Mark Stevenson</p>
                                <span class="position">Customer</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap text-center pb-5">
                            <div class="user-img mb-4" style="background-image: url(../Materials/images/person_3.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="mb-4">I am very satisfied with Apple's technology, useful and modern features</p>
                                <p class="name">Art Leonard</p>
                                <span class="position">Customer</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap text-center pb-5">
                            <div class="user-img mb-4" style="background-image: url(../Materials/images/person_4.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="mb-4">Modern technology and features that Apple brings are very interesting and give users a perfect experience.</p>
                                <p class="name">Rose Henderson</p>
                                <span class="position">Customer</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap text-center pb-5">
                            <div class="user-img mb-4" style="background-image: url(../Materials/images/person_3.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="mb-4">I am very satisfied with Apple's technology, useful and modern features</p>
                                <p class="name">Ian Boner</p>
                                <span class="position">Customer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Blog</span>
                <h2 class="mb-4">Recent Posts</h2>
            </div>
        </div>
        <div class="row">
            @{
                foreach (BaiViet k in Common.getArticles(3))
                {
                    <div class="col-md-4 ftco-animate">
                        <div class="blog-entry">
                                        <a href="#" class="block-20">
                                            <img style="height:300px ; width:320px" class="menu-img img" src="@k.hinhDD" />
                                        </a>
                            <div class="text pt-3 pb-4 px-4">
                                <div class="meta">
                                    <div><a href="#">@string.Format("{0: MMMM dd yyyy}",k.ngayDang)</a></div>
                                    <div><a href="#">@k.TaiKhoan1</a></div>
                                </div>
                                <h3 class="heading"><a href="#">@k.tenBV</a></h3>
                                <p class="blog_text">
                                    @k.ndTomTat
                                </p>
                                <p class="clearfix">
                                    <a href="@Url.Action("index", "BlogSingle", new {maBV = k.maBV})" class="float-left read">Read more</a>
                                    <a href="#" class="float-right meta-chat"><span class="icon-chat"></span>@k.loaiTin</a>
                                </p>
                            </div>
                        </div>
                    </div>

                }
            }

        </div>
    </div>
</section>
